<h1>Лабораторная работа №11</h1>

<div class="btn"><%= button_to "Ввести значение -->", new_article_path, :method => :get %></div>

<div class="db">
  <h4>Содержимое базы данных:</h4>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
</div>

<!-- <li class="nav-item active">
  <a class="nav-link" href="/xml">See DB converted to XML</a>
</li> -->
